[user]
	name = Suchintan Singh
    email = suchintan.singh@gopuff.com
    main-branch = main
[merge]
    tool = opendiff
[alias]
    st = status
    co = checkout
    ci = commit
    br = !sh -c \"git checkout -b suchintan.$1\"
    sb = !sh -c \"git checkout suchintan.$1\"
    delete = branch -D
    pushf = push --force-with-lease
    b = !git --no-pager branch --sort=-committerdate
    pff = !sh -c \"git fetch origin && git pull --ff-only origin `git config user.main-branch`\"
    a = commit -a --amend
    p = push origin HEAD
    frb = !sh -c \"git fetch origin && git rebase origin/`git config user.main-branch`\"
    rb = rebase origin/HEAD
    c = commit -am
    sh = !sh -c \"git show --name-only | cat\"
[color]
    ui = true
[push]
	default = current
[pager]
	branch = false
